.card {
    width: 100%;
    height: auto;
    margin-left: 10ch;
    min-height: 200px;
    grid-column: span 8;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
  }

